<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <a *ngFor="let item of breadcrumb" class="breadcrumb-item">{{item}}</a>
  </ol>
</nav>

<form>
  <input type="text" name="text" [(ngModel)]="newFileOrFolder" placeholder="New">
</form>

<label for="new">New</label>

<select id="new" name="fileandfolder" (change)="create($event.target.value)">
  <option name="file" disabled>Select</option>
  <option name="file" value="file">File</option>
  <option name="folder" value="folder">Folder</option>
</select>

<form>
  <input type="search" name="search" (change)="search($event.target.value)" placeholder="Search">
</form>

<div>
  <div *ngFor="let folder of folders">
    <a (click)="openFolder(folder)">{{folder.name}}</a>
  </div>

  <div *ngFor="let file of files">
    <p>{{file.name}}</p>
  </div>
</div>